<strong>Olá, {{name}}</strong>
<p>Novo produto cadastrado para você, já está disponivel para retirada:</p>
<p>
    <strong>Remetente: </strong>{{address.name}} <br />
    <strong>Produto: </strong>{{product}} <br />
    <strong>Endereço: </strong>{{address.street}} N°{{address.number}} {{address.city}}-{{address.state}} <br />
    <strong>Complemento: </strong>{{address.complements}} <br />
    <strong>CEP: </strong>{{address.cep}}
    <br />
</p>
